<ul class="nav in" accordion [close-others]='true'>
  <sidebar-search></sidebar-search>
  <li>
    <a [router-link]="['/Dashboard.home']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
  </li>
  <li>
    <a [router-link]="['/Dashboard.chart']"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>
  </li>
  <li>
    <a [router-link]="['/Dashboard.table']"><i class="fa fa-table fa-fw"></i> Tables</a>
  </li>
  <li>
    <a [router-link]="['/Dashboard.form']"><i class="fa fa-edit fa-fw"></i> Forms</a>
  </li>
  <li accordion-group>
    <template accordion-heading>
      <a href=""><i class='fa fa-wrench fa-fw'></i> UI Elements<span class='fa arrow'></span></a>
    </template>
    <ul class="nav nav-second-level">
      <li>
        <a [router-link]="['/Dashboard.panels-wells']">Panels and Wells</a>
      </li>
      <li>
        <a [router-link]="['/Dashboard.buttons']">Buttons</a>
      </li>
      <li>
        <a [router-link]="['/Dashboard.notifications']">Notifications</a>
      </li>
      <li>
        <a [router-link]="['/Dashboard.typography']">Typography</a>
      </li>
      <li>
        <a [router-link]="['/Dashboard.icons']"> Icons</a>
      </li>
      <li>
        <a [router-link]="['/Dashboard.grid']">Grid</a>
      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
  <li accordion-group>
    <template accordion-heading><a href=""><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
      class="fa arrow"></span></a></template>
    <ul class="nav nav-second-level">
      <li>
        <a href="">Second Level Item</a>
      </li>
      <li>
        <a href="">Second Level Item</a>
      </li>
      <li accordion-group>
        <template accordion-heading><a href="">Third Level <span class="fa arrow"></span></a></template>
        <ul class="nav nav-third-level">
          <li>
            <a href="">Third Level Item</a>
          </li>
          <li>
            <a href="">Third Level Item</a>
          </li>
          <li>
            <a href="">Third Level Item</a>
          </li>
          <li>
            <a href="">Third Level Item</a>
          </li>

        </ul>
        <!-- /.nav-third-level -->
      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
  <li accordion-group>
    <template accordion-heading><a href=""><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a></template>
    <ul class="nav nav-second-level">
      <li>
        <a [router-link]="['/Dashboard.blank']">Blank Page</a>
      </li>
      <li>
        <a [router-link]="['/Auth']">Login Page</a>
      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
  <li><a href="http://www.strapui.com/">Premium Angular Themes</a></li>
</ul>
